<h1>Your Text Analysis</h1> 

<%  a = @analyzed_text.count_of_words %>
<h2>Number of Words: <%= "#{a}" %></h2> 

<% b = @analyzed_text.count_of_vowels %> 
<h2>Vowels: <%="#{b}"%></h2>
<% c = @analyzed_text.count_of_consonants %> 
<h2>Consonants: <%="#{c}"%></h2>

<% aaa = @analyzed_text.most_used_letter %> 
<% aaa.map do |key, value| %>
<h2>Most Common Letter: <%= "#{key}," %> used <%= "#{value}" %> times</h2>
<% binding.pry %>
<% end %>